@import "./variables.scss";

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

    
    @media screen and (min-width: $lg){
        flex-direction: column;
        justify-content: center;
        padding: 10px 15%;
    }
}

.introAvatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 3px solid #70a9a1;
    border-radius: 50%;
    margin: 10px 0;

    @media screen and (min-width: $lg){
        width: 150px;
        height: 150px;
    }
}

.introTexts {
    max-width: 800px;
}

.introText {
    text-align: center;
    margin: 10px 0;
    line-height: 25px;
}

.skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $lg){
        max-width: 1000px;
    }
}

.skillCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillCategoryTitle {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.skillCategoryContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillCategoryContentItem {
    width: auto;
    background: #70a9a1;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.experience {
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.experienceCategory {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $lg){
        max-width: 1000px;
        flex-direction: row;
        align-items: flex-start;
    }
}

.experienceCategoryTitle {
    margin: 20px 0px; 
    font-weight: 400;

    @media screen and (min-width: $lg){
        flex: 1;
        text-align: left;
    }
}

.experienceCategoryContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $lg){
        flex: 2;
    }
}

.experienceCategoryContentItem {
    margin: 10px 20px;
    background-color: white;
    text-align: left;
    width: 100%;
}

.experienceCategoryContentItemTitle {
    letter-spacing: 0.5px;
    margin: 10px;
}

.experienceCategoryContentItemSubtitle {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 5px 5px 10px 10px;
}

.experienceCategoryContentItemDetail {
    margin: 5px 5px 5px 10px;
    letter-spacing: 0.5px;
    line-height: 20px;
}