.footer {
    background-color: #0b2027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerCopyright {
    font-weight: 500;
    margin: 20px;
}