@import "./variables.scss";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContent {
    position: relative;
    width: 100%;
    display: none;

    @media screen and (min-width: $lg){
        width: 800px;
        margin: 30px 0px;
        display: block;
    }
}

.headerVideo {
    width: 100%;
    z-index: 10;
}

.headerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b2027;
    opacity: 0.5;
    z-index: 15;
}

.headerTexts {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 15;
}

.headerTitle {
    letter-spacing: 1px;
    font-weight: 500;

    @media screen and (min-width: $sm){
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.headerSubtitle {
    letter-spacing: 0.5px;
    font-weight: 500;
}

.portfolio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #EEEEEE;
}

.portfolioRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $sm){
        max-width: calc(100% - 80px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
    }

    @media screen and (min-width: $lg){
        max-width: 1000px;
        padding: 0 40px;
    }
}

.portfolioItem {
    position: relative;
    width: 300px;
    height: 150px;
    margin-bottom: 40px;
    // flex: 1;

    @media screen and (min-width: $sm){
        width: 250px;
        height: 125px;
        margin: 10px 10px 40px 10px;
    }

    @media screen and (min-width: $lg){
        // width:  48%;
        // height: 120px;
        width: 300px;
        height: 150px;
    }
}

.portfolioItemBody {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 3px #888888;
}

.portfolioItemBackground {
    width: 100%;
    z-index: 5;
}

.portfolioItemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.1;
    z-index: 10;

    @media screen and (min-width: $lg){
        opacity: 0.4;
    }
    

    &:hover {
        @media screen and (min-width: $lg){
            transition: 0.3s ease-in;
            opacity: 0;
        }
    }
}

.portfolioItemText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    z-index: 15;
}

.portfolioItemTitle {
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.portfolioItemTags {
    position: absolute;
    top: 100%;
    left: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.6rem;
    font-weight: 500;
}

.portfolioItemTag {
    background-color:#70a9a1;
    border-radius: 0 0 5px 5px;
    padding: 5px 10px;  
    margin: 0 5px;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}