@import "./variables.scss";

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #70a9a1;
    z-index: 800;

    @media screen and (min-width: $lg){
        height: 70px;
    }
}

.logo {
    position: relative;
    width: 64px;
    height: 64px;
}

.links {
    display: none;
    margin-left: auto;

    ul {
        display: flex;
        flex-wrap: nowrap;
    }
    
    li {
        list-style-type: none;
        margin: 0px 30px;
    }

    @media screen and (min-width: $lg){
        display: block;
    }
}

.menuButton {
    display: block;
    margin-left: auto;
    margin-right: 10px;

    @media screen and (min-width: $lg){
        display: none;
    }
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #70a9a1;

    ul {
        display: flex;
        flex-direction: column;
    }
    
    li {
        list-style-type: none;
        margin: 15px 0px;
        text-align: left;
    }
}

.menuHeader {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.closeButton {
    margin: 0 10px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}