@import "./variables.scss";

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #70a9a1;
    z-index: 800;

    @media screen and (min-width: $lg){
        height: 70px;
    }
}

.logo {
    position: relative;

    @media screen and (min-width: $lg){
        width: 64px;
        height: 64px;
    }
}

.title {
}

.links {
    display: none;

    ul {
        display: flex;
        flex-wrap: nowrap;
    }
    
    li {
        list-style-type: none;
        margin: 0px 10px;
    }

    @media screen and (min-width: $lg){
        display: block;
        justify-self: flex-end;
    }
}

.menuButton {
    display: block;
    justify-self: flex-end;

    @media screen and (min-width: $lg){
        display: none;
    }
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: block;
    background-color: #70a9a1;

    ul {
        display: flex;
        flex-direction: column;
    }
    
    li {
        list-style-type: none;
        margin: 10px 0px;
        text-align: left;
    }
}