@import "./variables.scss";

.banner {
    position: relative;
    overflow: hidden;
}

.bannerTitle {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 50px 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.aboutTable {
    border: 2px solid;
    border-color: #383635;
    border-radius: 2px;
}

.aboutTableItemTitle {
    font-weight: 600;
    padding: 10px;
}

.aboutTableItemContent {
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;

    @media screen and (min-width: $lg){
        width: 1000px;
    }
}

.contentTitle {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contentParagraph {
    margin-top: 0;
    line-height: 1.5;
}

.contentImage {
    position: relative;
    width: 100%;
    // padding-bottom: calc(56.25% - 20px);
    margin: 10px 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    align-self: center;

    @media screen and (min-width: $lg) {
        width: 600px;
        // padding-bottom: calc(600px * 0.5625);
    }
}

.contentVideo {
    position: relative;
    width: 100%;
    padding-bottom: calc(56.25% - 20px);
    margin: 10px 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    align-self: center;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $lg) {
        width: 600px;
        padding-bottom: calc(600px * 0.5625);
    }
}

.contentLink {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: $green;
    border-radius: 10px;
}