@import "./variables.scss";

.banner {
    position: relative;
    overflow: hidden;
}

.bannerTitle {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 50px 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.aboutTable {
    border: 2px solid;
    border-color: #383635;
    border-radius: 2px;
}

.aboutTableItemTitle {
    font-weight: 600;
    padding: 10px;
}

.aboutTableItemContent {
    padding: 10px;
}

.content {
    width: 100%;
    max-width: 1200px;

    @media screen and (min-width: $lg){
        width: 800px;
    }
}